body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    overflow: hidden;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.app-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-item {
    display: inline;
    margin-left: 20px;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #575757;
    color: white;
}

.logo{
    text-align: center;
}
header {
    background-color: antiquewhite;
}